#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include "keys_de.h"
#include <behaviors/key_override.dtsi>
 
/ {
    key_overrides {
        compatible = "zmk,key-overrides";
 
        // Shift + ! → ?
        excl_to_qmark: excl_to_qmark {
            compatible = "zmk,key-override";
            key = <LSFT EXCLAMATION>;   // Shift + !
            replacement = <QUESTION>;   // gibt ? aus
            layers = <0>;               // auf welchem Layer
        };
    };
 
    keymap {
        ...
        // Die Taste selbst einfach auf ! setzen:
        bindings = <... &kp EXCLAMATION ...>;
    };
};

#define DEF 0
#define NAV 1
#define SYM 2
#define ADJ 3
#define EXTRA 4

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <180>;
            require-prior-idle-ms = <120>; /* tune to taste */
        };

        para: para {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS>, <&kp RIGHT_PARENTHESIS>;
        };

        caps: caps {
            compatible = "zmk,behavior-caps-word";
            #binding-cells = <0>;
            continue-list = <MINUS BACKSPACE>;
        };

        paraless: paraless {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&kp LEFT_PARENTHESIS>, <&kp LESS_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        paragreat: paragreat {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&kp RIGHT_PARENTHESIS>, <&kp GREATER_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        right_alt {
            bindings = <&kp RIGHT_ALT>;
            key-positions = <14 21>;
        };
    };

    //

    keymap {
        compatible = "zmk,keymap";

        BASE {
            display-name = "Base";

            // -----------------------------------------------------------------------------------------
            // |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |
            // |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |
            // |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |
            // | GUI | CTRL | SHFT | LWR | SPC |   | ENT | RSE  | BKSP | ALT | ESC |

            bindings = <
&kp ESCAPE      &kp DE_Q           &kp DE_W           &kp DE_E               &hm HOME DE_R  &hm END DE_T    &kp DE_Z      &kp DE_U  &kp DE_I               &kp DE_O           &kp DE_P               &kp BACKSPACE
&kp TAB         &hm LEFT_WIN DE_A  &hm LEFT_ALT DE_S  &hm LEFT_CONTROL DE_D  &kp DE_F       &kp DE_G        &kp DE_H      &kp DE_J  &hm LEFT_CONTROL DE_K  &hm LEFT_ALT DE_L  &hm LEFT_WIN DE_MINUS  &kp ENTER
&kp LEFT_SHIFT  &kp DE_Y           &kp DE_X           &kp DE_C               &kp DE_V       &kp DE_B        &kp DE_N      &kp DE_M  &kp DE_COMMA           &kp DE_PERIOD      &kp DE_EXCLAMATION     &kp LEFT_SHIFT
                                                      &mo 3                  &to 1          &kp DE_SPACE    &kp KP_ENTER  &to 2     &to 4
            >;
        };

        NUM {
            display-name = "NavNum";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            // | GUI | CTRL | SHFT | LWR | SPC |   | ENT | RSE  | BKSP | ALT | ESC |

            bindings = <
&kp ESCAPE      &kp DE_N1    &kp DE_N2     &kp DE_N3        &kp DE_N4     &kp DE_N5         &kp DE_N6     &kp DE_N7  &kp DE_N8  &kp DE_N9  &kp DE_N0      &kp BACKSPACE
&kp TAB         &kp DE_PLUS  &kp DE_MINUS  &kp DE_ASTERISK  &kp DE_SLASH  &kp DE_PERCENT    &kp DE_N0     &kp DE_N4  &kp DE_N5  &kp DE_N6  &kp DE_SQUARE  &kp ENTER
&kp LEFT_SHIFT  &none        &none         &none            &none         &none             &kp DE_EQUAL  &kp DE_N1  &kp DE_N2  &kp DE_N3  &kp DE_SUPER3  &kp LEFT_SHIFT
                                           &mo 3            &to 0         &kp DE_SPACE      &kp DE_SPACE  &to 2      &to 4
            >;
        };

        SYM {
            bindings = <
&kp ESCAPE      &kp DE_CARET          &kp DE_DEGREE        &kp DE_SECTION    &none                &none           &none         &none             &kp DE_LEFT_PARENTHESIS  &kp DE_RIGHT_PARENTHESIS  &none  &kp BACKSPACE
&kp TAB         &kp DE_DOUBLE_QUOTES  &kp DE_SINGLE_QUOTE  &kp DE_LESS_THAN  &kp DE_GREATER_THAN  &none           &kp DE_PIPE   &kp DE_SLASH      &kp DE_LEFT_BRACE        &kp DE_RIGHT_BRACE        &none  &kp ENTER
&kp LEFT_SHIFT  &kp DE_EURO           &kp DE_DOLLAR        &kp DE_AT         &kp DE_HASH          &kp DE_TILDE    &none         &kp DE_BACKSLASH  &kp DE_LEFT_BRACKET      &kp DE_RIGHT_BRACKET      &none  &kp LEFT_SHIFT
                                                           &mo 3             &to 1                &kp DE_SPACE    &kp DE_SPACE  &to 0             &to 4
            >;
        };

        GERMAN {
            bindings = <
&kp ESCAPE      &none  &none  &none  &none  &none           &none         &none            &none            &none            &none      &kp BACKSPACE
&kp TAB         &none  &none  &none  &none  &none           &none         &kp DE_O_UMLAUT  &kp DE_A_UMLAUT  &kp DE_U_UMLAUT  &kp DE_SZ  &kp ENTER
&kp LEFT_SHIFT  &none  &none  &none  &none  &none           &mo 5         &none            &none            &none            &none      &kp LEFT_SHIFT
                              &to 0  &to 1  &kp DE_SPACE    &kp DE_SPACE  &to 2            &to 4
            >;
        };

        MOVE {
            bindings = <
&kp F1  &kp F2  &kp F3          &kp F4          &kp F5           &kp F6           &kp F7        &kp F8     &kp F9          &kp F10    &kp F11  &kp F12
&none   &none   &none           &kp UP_ARROW    &none            &kp PAGE_UP      &none         &none      &msc SCRL_UP    &none      &none    &none
&none   &none   &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp PAGE_DOWN    &none         &mkp LCLK  &msc SCRL_DOWN  &mkp RCLK  &none    &none
                                &mo 3           &to 1            &kp DE_SPACE     &kp DE_SPACE  &to 2      &to 0
            >;
        };

        bluetooth {
            bindings = <
&none  &none         &none         &none         &none         &none           &none  &none  &none  &none  &none  &none
&none  &bt BT_NXT    &bt BT_PRV    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2    &none  &none  &none  &none  &none  &none
&none  &bt BT_SEL 3  &bt BT_SEL 4  &none         &none         &none           &none  &none  &none  &none  &none  &none
                                   &none         &none         &none           &none  &none  &none
            >;
        };
    };
};
